table{
    font-family: "Courier";
    width: 650px;
    font-size: 14px;
    font-weight: ;
}

thead tr th{
    background-color: teal;
    color: white;
    height: 35px;
    font-weight: bold;
}

thead tr:nth-child(1) th{
    background-color: lightgrey;

}

tbody tr{
    height: 25px;
}

tbody > tr > th {
    background-color: darkgrey;
}

tbody tr{
    height: 25px;
}

tbody tr td{
    background-color: lightgray;
    text-align: center;
}