body{
    background-color: chocolate;
}

div#flex-gallery {
    display: 
   
     
 
}

#flex-gallery > figure {
    background-color: khaki;
    padding: 0;
    margin: 0;
    
}

figure {
    width: 210px;
}
figure > img {
    width: 200px;
    border-radius: 10px;
}

figure > img {
    border: solid cornsilk 5px;
}

figcaption {
    font-size: 24px;
    text-align: center;
    margin: 10px;
    line-height: 30px;
    color: chocolate;
    font-weight: 700;
    font-style: italic;
    font-family: "American Typewriter";

}